{% extends 'base/base.html' %}
{% load materialize %}

{% block title %}Log a Score{% endblock %}
{% block title-header %}Log a Score{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <p>For: {{ workout.name }}</p>
        <p>Type: {{ workout.get_workout_type_display }}</p>
        <p>Description:<br>{{ workout.description }}</p>
        <form method="post">
            {% csrf_token %}
            {{ form.score|materialize }}
            {{ form.execution_date }}
            {{ form.comment|materialize }}
            <button class="btn waves-effect waves-light" type="submit" name="action">save
                <i class="material-icons right">save</i>
            </button>
        </form>
    {% else %}
        <p><a href="{% url 'login' %}">Login</a> to log a score</p>
    {% endif %}
{% endblock %}