{% extends 'base/base.html' %}

{% block title %}Workout list{% endblock %}
{% block title-header %}Workout list{% endblock %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'wods/style.css' %}">
    {% if workout_list %}
        <ul>
            {% for workout in workout_list %}
                <li>
                    <div class="row">
                        <div class="s12">
                            <div class="card">
                                <div class="card-content">
                                    <a href="{% url 'wods:add_score' workout.id %}"
                                       class="btn-floating halfway-no-image-fab waves-effect waves-light red"><i
                                            class="material-icons">add</i></a>
                                    <div class="card-title">
                                        <p class="left">{{ workout.name }}</p>
                                    </div>
                                    <div class="card-text-content">
                                        <p>{{ workout.get_components_display|linebreaksbr }}</p>
                                    </div>
                                </div>
                                <div class="card-action">
                                    <a href="{% url 'wods:detail' workout.id %}">Workout detail</a>
                                    <span class="right">{{ workout.date }}</span>
                                    <a class="right" href="{% url 'athletes:detail' workout.creator.id %}">
                                        {{ workout.creator.get_signature }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No Workouts are available.</p>
    {% endif %}
{% endblock %}