{% extends 'base/base-breadcrums.html' %}

{% block title %}Confirm Deletion{% endblock %}
{% block title-header %}Confirm Deletion{% endblock %}

{% block content %}

    {% if workout %}
        <h3>Do you really want to delete this Workout?</h3>
        DESC: {{ workout.description }}<br>
        TYPE: {{ workout.type }}<br><br>

        CREATED AT: {{ workout.date }}<br>

        <h2>If you do this, all you scores for this workout are deleted as well!</h2>
        <p>
        <form method="post" action="{% url 'wods:delete' workout.id %}">
            {% csrf_token %}
            <button type="submit">
                delete workout
            </button>
        </form>
        </p>
    {% else %}
        <h1>This workout has scores by other people so you cannot delete it!</h1>
    {% endif %}
{% endblock %}