{% extends 'base/base-breadcrums.html' %}
{% load materializecss %}

{% block title %}Confirm Deletion{% endblock %}
{% block title-header %}Confirm Deletion{% endblock %}

{% block content %}

    {% if workout %}
        <h3>Do you really want to delete this Workout?</h3>
        DESC: {{ workout.description }}<br>
        TYPE: {{ workout.workout_type }}<br><br>

        CREATED AT: {{ workout.date }}<br>

        <h2>If you do this, all you scores for this workout are deleted as well!</h2>

        <form method="post" action="{% url 'wods:delete' workout.id %}">
            {% csrf_token %}
            <button class="btn waves-effect waves-light" type="submit" name="action">delete
                <i class="material-icons right">delete</i>
            </button>
        </form>
    {% else %}
        <h1>This workout has scores by other people so you cannot delete it!</h1>
    {% endif %}
{% endblock %}