{% extends 'base/base.html' %}

{% block title %}Workout details{% endblock %}
{% block title-header %}Workout details{% endblock %}

{% block content %}
    <h3 class="header">{{ workout.name }}</h3>
    <a href="{% url 'wods:add_score' workout.id %}">
        <button class="btn waves-effect waves-light" type="submit" name="action">log score
            <i class="material-icons right">add</i>
        </button>
    </a>
    <div>
        <ul>
            <li><p>CREATED BY: <a
                    href="{% url 'athletes:detail' workout.creator.id %}">{{ workout.creator.get_signature }}</a></p>
            </li>
            <li><p>AT: {{ workout.date }}</p></li>
            <li>
                <div class="divider"></div>
            </li>
        </ul>
        <ul>
            <li>Type: {{ workout.get_workout_type_display }}</li>
            <li>{{ workout.get_components_display|linebreaksbr }}</li>
            <li>Description: {{ workout.description }}</li>
        </ul>
    </div>
    {% if workout.creator.user == user %}
        <p>
            <a href="{% url 'wods:update' workout.id %}">
                <button class="btn waves-effect waves-light" type="submit" name="action">Update
                    <i class="material-icons right">edit</i>
                </button>
            </a>
            <a href="{% url 'wods:delete' workout.id %}">
                <button class="btn waves-effect waves-light" type="submit" name="action">Delete
                    <i class="material-icons right">delete</i>
                </button>
            </a>
        </p>
    {% endif %}
    <p>
    <h3></h3>
    {% if scores %}
        <ul class="collection with-header">
            <li class="collection-header"><h4>Scores</h4></li>
            {% for score in scores %}
                <li class="collection-item">
                    <div>{{ score.score }}
                        <a href="{% url 'score:detail' score.id %}" class="secondary-content">
                            <i class="material-icons">remove_red_eye</i></a>
                        <div>by {{ score.athlete.get_signature }}</div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <br>No scores yet! Be the first!
    {% endif %}
    </p>
{% endblock %}