{% extends 'base/base-breadcrums.html' %}

{% block title %}Workout details{% endblock %}

{% block content %}
    <h1>Workout details</h1>
    <h3>{{ workout.name }}</h3>
    <p>
        CREATED BY:
        <a href="{% url 'athletes:detail' workout.creator.id %}">{{ workout.creator.get_signature }}</a>
        <br>
        AT: {{ workout.date }}<br>
    </p>

    DESC: {{ workout.description }}
    <br>
    TYPE: {{ workout.get_type_display }}
    {% if workout.creator.user == user %}
        <p>
            <a href="{% url 'wods:update' workout.id %}"><input type="submit" value="edit workout"/></a>
            <a href="{% url 'wods:delete' workout.id %}"><input type="submit" value="delete workout"/></a>
        </p>
    {% endif %}
    <p>
        SCORES:
        {% if scores %}
            <ul>
                {% for score in scores %}
                    <li><a href="{% url 'score:detail' score.id %}">{{ score.score }}
                        from {{ score.date }}</a>
                        by
                        <a href="{% url 'athletes:detail' score.athlete.id %}">{{ score.athlete.get_signature }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <br>No scores yet! Be the first!
        {% endif %}
    </p>
    <a href="{% url 'wods:add_score' workout.id %}"><input type="submit" value="Log a score"/></a>
{% endblock %}