<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Workout-List</title>
</head>
<body>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'wods/style.css' %}">
{% if workout_list %}
    <ul>
        {% for workout in workout_list %}
            <li><a href="{% url 'wods:detail' workout.id %}">{{ workout.description }} {{ workout.score_type }}
                from {{ workout.date }} by {{ workout.athlete.last_name }}, {{ workout.athlete.first_name }}
                at {{ workout.score }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No Workouts are available.</p>
{% endif %}
</body>
</html>