<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wodlogger</title>
</head>
<body>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">

{% if user.is_authenticated %}
    <a href="{% url 'profiles:profile' %}"> <input type="submit" value="Login"/></a>
{% else %}
    <a href="{% url 'login' %}"><input type="submit" value="Login"/></a>
{% endif %}
<br><br>
<a href="{% url 'profiles:signup' %}">
    <input type="submit" value="Register"/>
</a>
</body>
</html>