<html lang="">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Title{% endblock %}</title>
    {% block css %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/css/materialize.min.css"
              integrity="sha256-qj3p6P1fJIV+Ndv7RW1ovZI2UhOuboj9GcODzcNFIN8=" crossorigin="anonymous"/>
    {% endblock css %}
</head>
<body>
<header>
    <div class="container">
        <div class="top-nav">
            <div class="row">
                <div class="">
                    <h1 class="header black-text">{% block title-header %}{% endblock %}</h1>
                </div>
            </div>
        </div>
    </div>

    <ul id="slide-out" class="sidenav sidenav-fixed">
        <li>
            <div class="user-view">
                {#                <div class="background">#}
                {#                    <img src="images/office.jpg">#}
                {#                </div>#}
                <a href="{% url 'profiles:profile' %}">
                    <img class="circle" src="/static/root/images/avatar_placeholder.png"></a>

                <a href="{% url 'profiles:profile' %}"><span class="black-text name">{{ user.username }}</span></a>
                <a href="{% url 'profiles:profile' %}"><span
                        class="black-text signature">{{ user.athlete.get_signature }}</span></a>
            </div>
        </li>


        <li><a href="{% url 'wods:create' %}"><i class="material-icons">add</i>Create workout</a></li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a class="subheader">Look at</a></li>
        <li><a href="{% url 'wods:index' %}"><i class="material-icons">fitness_center</i>Workouts</a></li>
        <li><a href="{% url 'score:index' %}"><i class="material-icons">poll</i>Scores</a></li>
        <li><a href="{% url 'athletes:index' %}"><i class="material-icons">face</i>Athletes</a></li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a href="{% url 'profiles:profile' %}"><i class="material-icons">account_circle</i>View your Profile</a>
        </li>
        <li><a href="{% url 'logout' %}"><i class="material-icons">directions_run</i>Logout</a></li>
    </ul>
</header>
<main>
    {% block javascript %}

        <script
                src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.min.js"
                integrity="sha256-SrBfGi+Zp2LhAvy9M1bWOCXztRU9Ztztxmu5BcYPcPE=" crossorigin="anonymous"></script>
        <script>
            $(document).ready(function () {
                $('.datepicker').datepicker({'format': 'yyyy-mm-dd'});
                $('select').formSelect();
                $('.sidenav').sidenav();
                $('.tabs').tabs();
            });
        </script>
    {% endblock javascript %}

    <div class="container section">{% block content %}{% endblock %}</div>
</main>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'root/style.css' %}">
<footer class="page-footer">
    <div class="footer-copyright">
        <div class="grey-text text-lighten-1 container">© 2020 Copyright
            <a class="grey-text text-lighten-1 right" href="mailto:fussederflorian@gmail.com">Send me an email at
                fussederflorian@gmail.com</a>
        </div>
    </div>
</footer>
</body>
</html>