<html lang="">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Title{% endblock %}</title>
    {% block css %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/css/materialize.min.css"
              integrity="sha256-qj3p6P1fJIV+Ndv7RW1ovZI2UhOuboj9GcODzcNFIN8=" crossorigin="anonymous"/>
    {% endblock css %}
</head>
<body>
<header>
{#    <nav> <!-- navbar content here  --> </nav>#}

    <ul id="slide-out" class="sidenav sidenav-fixed">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="images/office.jpg">
                </div>
                <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
                <a href="#name"><span class="white-text name">John Doe</span></a>
                <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
            </div>
        </li>
        <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
        <li><a href="#!">Second Link</a></li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a class="subheader">Subheader</a></li>
        <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
    </ul>
{#    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>#}
</header>
<main>
    {% block javascript %}

        <script
                src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.min.js"
                integrity="sha256-SrBfGi+Zp2LhAvy9M1bWOCXztRU9Ztztxmu5BcYPcPE=" crossorigin="anonymous"></script>
        <script>
            $(document).ready(function () {
                $('.datepicker').datepicker({'format': 'yyyy-mm-dd'});
                $('select').formSelect();
            });

            document.addEventListener('DOMContentLoaded', function () {
                var elems = document.querySelectorAll('.sidenav');
                var instances = M.Sidenav.init(elems, options);
            });

            // Initialize collapsible (uncomment the lines below if you use the dropdown variation)
            // var collapsibleElem = document.querySelector('.collapsible');
            // var collapsibleInstance = M.Collapsible.init(collapsibleElem, options);

            // Or with jQuery

            $(document).ready(function () {
                $('.sidenav').sidenav();
            });
        </script>
    {% endblock javascript %}

    {% block breadcrums %}{% endblock %}
    <h1>{% block title-header %}{% endblock %}</h1>
    {% block content %}{% endblock %}
</main>
{% block footer %}{% endblock %}
</body>
</html>