{% extends 'base/base.html' %}

{% block footer %}
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'root/style.css' %}">
    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">© 2020 Copyright
                <a class="grey-text text-lighten-4 right" href="mailto:fussederflorian@gmail.com">Send me an email at
                    fussederflorian@gmail.com</a>
            </div>
        </div>
    </footer>
{% endblock %}