{% extends 'base/base-breadcrums.html' %}
{% load materializecss %}

{% block title %}Profile{% endblock %}
{% block title-header %}Athlete Profile{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        User Name: {{ user.username }}<br>
        {% if user.athlete.first_name %}
            First Name: {{ user.athlete.first_name }}<br>
        {% endif %}
        {% if user.athlete.last_name %}
            Last Name: {{ user.athlete.last_name }}<br>
        {% endif %}
        </p>
        <p>
            <a href="{% url 'athletes:update' %}">
                <button class="btn waves-effect waves-light" type="submit" name="action">Update Profile
                    <i class="material-icons right">edit</i>
                </button>
            </a>
        </p>
        <p>
        <h3>Your Scores</h3>
        {% if scores %}
            <ul>
                {% for score in scores %}
                    <li><a href="{% url 'score:detail' score.id %}">{{ score.workout.name }} done in {{ score.score }}
                        from {{ score.execution_date }} ( created {{ score.logging_date }} )</a></li>
                {% endfor %}
            </ul>
        {% else %}
            You have scores no logged until now!<br> Get going by
            <a href="{% url 'wods:create' %}">creating a new workout</a>
            and adding a score, or
            <a href="{% url 'wods:index' %}">add a score</a>
            to an existing workout
        {% endif %}
        </p>

        <p>
        <h3>Your Workouts</h3>
        {% if workouts %}
            <ul>
                {% for workout in workouts %}
                    <li><a href="{% url 'wods:detail' workout.id %}">{{ workout.name }} ({{ workout.workout_type }}):
                        {{ workout.description }} created at {{ workout.date }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            Athlete has not yet created a workout! Get going by
            <a href="{% url 'wods:create' %}">creating a new workout</a>!
        {% endif %}
        </p>

    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">login</a>
    {% endif %}
{% endblock %}