{% extends 'base/base-breadcrums.html' %}

{% block title %}Profile{% endblock %}
{% block title-header %}Welcome!{% endblock %}
{% block content %}
    {% if user.is_authenticated %}

        <h2>Your Athlete Profile:</h2>
        User Name:  {{ user.username }}<br>
        {% if user.athlete.first_name %}
            First Name: {{ user.athlete.first_name }}<br>
        {% endif %}
        {% if user.athlete.last_name %}
            Last Name:    {{ user.athlete.last_name }}<br>
        {% endif %}

        <p>
            <a href="{% url 'athletes:update' %}"><input type="submit" value="edit your athlete profile"/></a>
        </p>

    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">login</a>
    {% endif %}
{% endblock %}