{% extends 'base/base-breadcrums.html' %}

{% block title %}Athlete list{% endblock %}
{% block title-header %}Athlete list{% endblock %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'athletes/style.css' %}">
    {% if athlete_list %}
        <ul>
            {% for athlete in athlete_list %}
                <li>
                    <a href="{% url 'athletes:detail' athlete.id %}">{{ athlete.user.username }}</a>
                    {% if athlete.first_name %}
                        {{ athlete.first_name }}
                    {% endif %}
                    {% if athlete.last_name %}
                        {{ athlete.last_name }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No Athletes are available.</p>
    {% endif %}
{% endblock %}