{% extends 'base/base-breadcrums.html' %}

{% block title %}Profile{% endblock %}
{% block title-header %}Athlete details{% endblock %}
{% block content %}
    User Name: {{ athlete.user.username }}<br>
    {% if athlete.first_name %}
        First Name: {{ athlete.first_name }}<br>
    {% endif %}
    {% if athlete.last_name %}
        Last Name:    {{ athlete.last_name }}<br>
    {% endif %}
    <h3>Scores</h3>
    {% if scores %}
        <ul>
            {% for score in scores %}
                <li><a href="{% url 'score:detail' score.id %}">{{ score.workout.name }} done in {{ score.score }}
                    from {{ score.execution_date }} ( created: {{ score.logging_date }} )</a></li>
            {% endfor %}
        </ul>
    {% else %}
        Athlete did not add scores yet
    {% endif %}

    <br>
    <h3>Workouts</h3>
    {% if workouts %}
        <ul>
            {% for workout in workouts %}
                <li><a href="{% url 'wods:detail' workout.id %}">{{ workout.name }}
                    ({{ workout.type }}) {{ workout.description }} created
                    at {{ workout.date }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        Athlete has not yet created a workout
    {% endif %}
{% endblock %}