{% extends 'base/base-breadcrums.html' %}
{% load materializecss %}

{% block title %}Athlete list{% endblock %}
{% block title-header %}Athlete list{% endblock %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'athletes/style.css' %}">
    {% if athlete_list %}
        <ul class="collection">
            {% for athlete in athlete_list %}
                <li class="collection-item avatar-small">
                    <a href="{% url 'athletes:detail' athlete.id %}">
                        <img src="/static/root/images/avatar_placeholder.png" alt="" class="circle"></a>
                    <a href="{% url 'athletes:detail' athlete.id %}">
                        <span class="title">{{ athlete.user.username }}</span>
                        <p>{{ athlete.get_signature }}</p>
                    </a>
                    <a href="{% url 'athletes:detail' athlete.id %}" class="secondary-content"><i
                            class="material-icons">contacts</i></a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No Athletes are available.</p>
    {% endif %}
{% endblock %}