{% extends 'base/base.html' %}

{% block title %}Profil{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>Hi {{ user.username }}!</h1>
        <h2>Your Athlete Profile:</h2>
        User Name: {{ user.athlete.username }}<br>
        {% if user.athlete.first_name %}
            First Name: {{ user.athlete.first_name }}<br>
        {% endif %}
        {% if user.athlete.last_name %}
            Last Name:    {{ user.athlete.last_name }}<br>
        {% endif %}

        <p>
            <a href="{% url 'login' %}"><input type="submit" value="logout"/></a>
        </p>
        <p>
            <a href="{% url 'wods:index' %}"><input type="submit" value="look at wods"/></a>
            <a href="{% url 'wods:create' %}"><input type="submit" value="create a wod"/></a>
        </p>
        <p>
            <a href="{% url 'score:index' %}"><input type="submit" value="look at scores"/></a>
            <a href="{% url 'score:create' %}"><input type="submit" value="log a score"/></a>
        </p>
        <p>
            <a href="{% url 'athletes:index' %}"><input type="submit" value="look at athletes"/></a>
            <a href="{% url 'athletes:update' %}"><input type="submit" value="edit your athlete profile"/></a>
        </p>

    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">login</a>
    {% endif %}
{% endblock %}