{% extends 'base/base-breadcrums.html' %}

{% block title %}Score list{% endblock %}
{% block title-header %}Score list{% endblock %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'wods/style.css' %}">
    {% if score_list %}
        <ul>
            {% for score in score_list %}
                <li><a href="{% url 'score:detail' score.id %}">{{ score.workout.name }} at {{ score.score }}
                    from {{ score.execution_date }}</a> by
                    <a href="{% url 'athletes:detail' score.athlete.id %}">
                        {% if score.athlete.user == user %}
                            You
                        {% else %}
                            {{ score.athlete.get_signature }}
                        {% endif %}
                    </a>
                    ( {{ score.logging_date }} )
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No Scores are available.</p>
    {% endif %}
{% endblock %}