{% extends 'base/base-breadcrums.html' %}

{% block title %}Confirm Deletion{% endblock %}
{% block title-header %}Confirm Deletion{% endblock %}

{% block content %}

    <h3>You really want to delete this score?</h3>
    DESC: {{ score.workout.description }}<br>
    SCORE: {{ score.score }}<br><br>

    FROM: {{ score.execution_date }}<br>

    <form method="post" action="{% url 'score:delete' score.id %}">
        {% csrf_token %}
        <button type="submit">
            delete score
        </button>
    </form>

{% endblock %}