<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Score-List</title>
</head>
<body>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'wods/style.css' %}">
{% if score_list %}
    <ul>
        {% for score in score_list %}
            <li><a href="{% url 'score:detail' score.id %}">{{ score.workout.description }} {{ score.type }}
                from {{ score.date }} by
                {% if score.athlete.user == user %}
                    You
                {% else %}
                    {{ score.athlete.get_signature }}
                {% endif %}
                at {{ score.score }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No Scores are available.</p>
{% endif %}
</body>
</html>