{% extends 'base/base.html' %}
{% load materialize %}

{% block title %}Score details{% endblock %}
{% block title-header %}Score details{% endblock %}

{% block content %}

    <div class="row">
        <div class="col s2">ATHLETE:</div>
        <div class="col s10">
            <a href="{% url 'athletes:detail' score.athlete.id %}">
                {% if score.athlete.user == user %}
                    You
                {% else %}
                    {{ score.athlete.get_signature }}
                {% endif %}
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col s2">AT:</div>
        <div class="col s10">{{ score.execution_date }}</div>
    </div>

    <div class="divider"></div>
    <div class="row">
        <div class="col s2">WORKOUT:</div>
        <div class="col s10"><a href="{% url 'wods:detail' score.workout.id %}">{{ score.workout.name }}</a><br></div>
    </div>

    <div class="row">
        <div class="col s2">DESC:</div>
        <div class="col s10">{{ score.workout.description }}</div>
    </div>
    {% if score.comment %}
        <div class="row">
            <div class="col s2">COMMENT:</div>
            <div class="col s10">{{ score.comment }}</div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col s2">SCORE:</div>
        <div class="col s10">{{ score.score }}</div>
    </div>
    {% if score.athlete.user == user %}
        <div class="row">
            <div class="col s12">
                <a href="{% url 'score:update' score.id %}">
                    <button class="btn waves-effect waves-light" type="submit" name="action">update
                        <i class="material-icons right">edit</i>
                    </button>
                </a>
                <a href="{% url 'score:delete' score.id %}">
                    <button class="btn waves-effect waves-light" type="submit" name="action">delete
                        <i class="material-icons right">delete</i>
                    </button>
                </a>
            </div>
        </div>
    {% endif %}
{% endblock content %}
