{% extends 'base/base.html' %}
{% load materialize %}

{% block title %}Confirm Deletion{% endblock %}
{% block title-header %}Confirm Deletion{% endblock %}
{% load materialize %}

{% block content %}

    <h3>You really want to delete this score?</h3>
    DESC: {{ score.workout.description }}<br>
    SCORE: {{ score.score }}<br><br>

    FROM: {{ score.execution_date }}<br>

    <form method="post" action="{% url 'score:delete' score.id %}">
        {% csrf_token %}
        <button class="btn waves-effect red darken-4" type="submit" name="action">delete
            <i class="material-icons right">delete</i>
        </button>
    </form>

{% endblock %}