{% extends 'base/base-breadcrums.html' %}

{% block title %}Score details{% endblock %}
{% block title-header %}Score details{% endblock %}

{% block content %}
    <p>
        ATHLETE:
        <a href="{% url 'athletes:detail' score.athlete.id %}">
            {% if score.athlete.user == user %}
                You
            {% else %}
                {{ score.athlete.get_signature }}
            {% endif %}
        </a>
    </p>
    <p>
        AT: {{ score.execution_date }}<br>
        WORKOUT: <a href="{% url 'wods:detail' score.workout.id %}">{{ score.workout.name }}</a><br>
        DESC: {{ score.workout.description }}<br>
    </p>
    <p>
        SCORE: {{ score.score }}<br>
        {% if score.comment %}
            COMMENT: {{ score.comment }}
        {% endif %}
    </p>
    {% if score.athlete.user == user %}
        <a href="{% url 'score:update' score.id %}"><input type="submit" value="edit score"/></a>
        <a href="{% url 'score:delete' score.id %}"><input type="submit" value="delete score"/></a>
    {% endif %}
{% endblock content %}
